@import "../../styles/config.mixins.scss";
@import "../../styles/config.variables";

.Footer {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-height: 10rem;
  font-size: map-get($font-size-primary, xxs);

  @include break(md) {
    flex-direction: row;
  }
}
